In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
from config import password

In [2]:
# Read in data
df = pd.read_csv("Resources/soccer_data_raw.csv")
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [3]:
# Separate month and year
yr = df["date"].str.split("-")
year = [y[0] for y in yr]
month = [y[1] for y in yr]

# Add new columns
df["year"] = year
df["month"] = month

df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,month
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872,11
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873,03
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874,03
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875,03
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876,03

In [4]:
# Map months to a season (summer or winter)
# Summer = April - September
# Winter = October - March

month_num = [int(month_str) for month_str in df['month']]

season_list = []

for m in month_num:
    if 4 <= m <= 9:
        season = 'summer'
    else:
        season = 'winter'
    season_list.append(season)

In [5]:
# Convert month number to month text
month_list = []

for month in month_num:
    m = dt.date(1111, month, 1).strftime('%B')
    month_list.append(m)

In [6]:
# Delete numerical month column
del df['month']

# Add new month column
df['month'] = month_list

# Add season column
df['season'] = season_list

In [7]:
# Rearrange columns in data frame
df = df[['date', 'year', 'month', 'home_team', 'away_team', 'home_score', 'away_score', 'tournament', 
         'city', 'country', 'neutral', 'season']]
df.head()

,date,year,month,home_team,away_team,home_score,away_score,tournament,city,country,neutral,season
0,1872-11-30,1872,November,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,winter
1,1873-03-08,1873,March,England,Scotland,4,2,Friendly,London,England,False,winter
2,1874-03-07,1874,March,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,winter
3,1875-03-06,1875,March,England,Scotland,2,2,Friendly,London,England,False,winter
4,1876-03-04,1876,March,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,winter

#### winner + winner's point margin

if home score > away score

then home team (into new column)

else away team (into new column)